.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    padding: 4px;
    margin: 0;
}

.mat-sidenav-container {
    background-color: #F7F7F7;
    overflow: inherit;
}

.mat-sidenav-content {
    text-align: center;
}

.header-logo {
    width: 54px;
    margin-right: 4px;
}
