<header>
    <img src="../../../assets/logotipo.jpg" class="logotipo">

    <div class="menu-container">
        <ul class="menu">
            <a href=""><li>Doadores</li></a>
            <a href=""><li>Cadastro de Doadores</li></a>
            <a href=""><li>Doações</li></a>
        </ul>
    </div>
</header>
<div class="doadores">
    <h1>Doadores</h1>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>

    <table mat-table [dataSource]="doadores">
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSize]="pageInitial" showFirstLastButtons></mat-paginator>
</div>
