table {
    width: 100%;
}

h1 {
    color: #0474b9;
    margin-bottom: 30px;
    border-bottom: 1px solid #d8edfa;
}

.doadores {
    width: 95%;
    display: block;
    margin: 0 auto;
    clear: both;
}
