.doadores {
    margin: 0 auto;
    padding: 32px;

    h1 {
        color: #3f51b5;
        font-size: 2rem;
        font-weight: 500;
    }

    .mat-form-field {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    table {
        width: 100%;
    }
}
