<div class="doadores">
    <h1>Doadores</h1>

    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>

    <mat-table [dataSource]="doadores">
        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Nome</span>
                {{ element.nome }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="contato">
            <mat-header-cell *matHeaderCellDef>Contato</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Contato</span>
                {{ element.contato }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantidade">
            <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Quantidade</span>
                {{ element.quantidade }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="semana">
            <mat-header-cell *matHeaderCellDef>Semana</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Semana</span>
                {{ element.semana }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="rua">
            <mat-header-cell *matHeaderCellDef>Rua</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Rua</span>
                {{ element.endereco.rua }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef>Nº</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Nº</span>
                {{ element.endereco.numero }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bairro">
            <mat-header-cell *matHeaderCellDef>Bairro</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Bairro</span>
                {{ element.endereco.bairro }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="complemento">
            <mat-header-cell *matHeaderCellDef>Complemento</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Complemento</span>
                {{ element.endereco.complemento }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="obs">
            <mat-header-cell *matHeaderCellDef>Observação</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Observação</span>
                {{ element.endereco.obs }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ativo">
            <mat-header-cell *matHeaderCellDef>Ativo?</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Ativo?</span>
                {{ element.ativo ? 'Sim' : 'Não' }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deletar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" class="mobile-actions">
                <button mat-raised-button color="warn" (click)="delete(element.id)" color="warn">Excluir</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="pageInitial" showFirstLastButtons></mat-paginator>
</div>